@charset "utf-8";
/* CSS Document */
.thdrcell {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #f3f0e7; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #c8ba92 1px solid; FONT-FAMILY: arial
}
.tdatacell {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; BACKGROUND: #ffffff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; FONT-FAMILY: arial
}
.dvhdr1 {
	BORDER-RIGHT: #c8ba92 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c8ba92 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: #f3f0e7; PADDING-BOTTOM: 5px; BORDER-LEFT: #c8ba92 1px solid; WIDTH: 280px; PADDING-TOP: 5px; BORDER-BOTTOM: #c8ba92 1px solid; FONT-FAMILY: arial
}

.dvhdr12 {
	BORDER-RIGHT: #c8ba92 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c8ba92 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: #f3f0e7; PADDING-BOTTOM: 5px; BORDER-LEFT: #c8ba92 1px solid; WIDTH: 170px; PADDING-TOP: 5px; BORDER-BOTTOM: #c8ba92 1px solid; FONT-FAMILY: arial
}

.dvbdy1 {
	BORDER-RIGHT: #c8ba92 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10px; BACKGROUND: #ffffff; PADDING-BOTTOM: 5px; BORDER-LEFT: #c8ba92 1px solid; WIDTH: 280px; PADDING-TOP: 5px; BORDER-BOTTOM: #c8ba92 1px solid; FONT-FAMILY: arial
}

.dogvdvhdr {
	BORDER-RIGHT: #c4d5e3 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #c4d5e3 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: #c4d5e3; PADDING-BOTTOM: 10px; BORDER-LEFT: #c4d5e3 1px solid; WIDTH: 300px; PADDING-TOP: 10px; BORDER-BOTTOM: #c4d5e3 1px solid
}
.dogvdvbdy {
	BORDER-RIGHT: #c4d5e3 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #ffffff; PADDING-BOTTOM: 10px; BORDER-LEFT: #c4d5e3 1px solid; WIDTH: 300px; PADDING-TOP: 10px; BORDER-BOTTOM: #c4d5e3 1px solid
}
.pgdiv {
	BORDER-RIGHT: #c4d5e3 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #c4d5e3 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 12px; BACKGROUND: #e9eff4; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 10px; BORDER-LEFT: #c4d5e3 1px solid; WIDTH: 320px; PADDING-TOP: 10px; BORDER-BOTTOM: #c4d5e3 1px solid; FONT-FAMILY: arial; HEIGHT: 250px
}
