<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>applicationId</param-name>
        <param-value>80</param-value>
    </context-param>
    <context-param>
        <param-name>appTitle</param-name>
        <param-value>Work Order Management</param-value>
    </context-param>
    <context-param>
        <param-name>crontime</param-name>
        <param-value>05:00</param-value>
    </context-param>
    <context-param>
        <param-name>croninterval</param-name>
        <param-value>5</param-value>
    </context-param>
    <listener>
        <listener-class>
            com.ckb.wo.client.listener.ContextListener
        </listener-class>
    </listener>
    <!--filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>com.ckb.wo.client.filter.SessionFilter</filter-class>
        <init-param>
            <param-name>avoid-urls</param-name>
            <param-value>index.jsp,ValidateLogin,scripts,Mootools,login_files,images,.css</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping-->
    <servlet>
        <servlet-name>WOReportListener</servlet-name>
        <servlet-class>com.ckb.wo.client.listener.WOReportListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WODailyRetrievReport</servlet-name>
        <servlet-class>com.ckb.wo.client.listener.WODailyRetrievReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notes</servlet-name>
        <servlet-class>com.ckb.wo.client.listener.NotesListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryListener</servlet-name>
        <servlet-class>com.ckb.wo.client.listener.HistoryListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserList</servlet-name>
        <servlet-class>com.ckb.wo.client.listener.UserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleList</servlet-name>
        <servlet-class>com.ckb.wo.client.listener.RoleList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendorServiceFileUploadServlet</servlet-name>
        <servlet-class>com.ckb.wo.client.listener.VendorServiceFileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>finXlsRpt</servlet-name>
        <servlet-class>com.ckb.wo.report.finXlsRpt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WOAppRemoteListener</servlet-name>
        <servlet-class>com.ckb.wo.client.listener.WOAppRemoteListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateLogin</servlet-name>
        <servlet-class>com.ckb.wo.server.ValidateLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.ckb.wo.server.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WOServices</servlet-name>
        <servlet-class>com.ckb.wo.server.WOServicesImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkOrderListener</servlet-name>
        <servlet-class>com.ckb.wo.client.listener.WorkOrderListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkOrderList</servlet-name>
        <servlet-class>com.ckb.wo.client.listener.WorkOrderList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendorListener</servlet-name>
        <servlet-class>com.ckb.wo.client.listener.VendorListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Handling</servlet-name>
        <servlet-class>com.ckb.wo.client.listener.Handling</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendorServiceList</servlet-name>
        <servlet-class>com.ckb.wo.client.listener.VendorServiceList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateListener</servlet-name>
        <servlet-class>com.ckb.wo.client.listener.ValidateListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WOProcList</servlet-name>
        <servlet-class>com.ckb.wo.client.listener.WOProcList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkOrderAppList</servlet-name>
        <servlet-class>com.ckb.wo.client.listener.WorkOrderAppList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vendorservice</servlet-name>
        <servlet-class>com.ckb.wo.client.listener.VendorServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkingservice</servlet-name>
        <servlet-class>com.ckb.wo.client.listener.CheckingServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vendor</servlet-name>
        <servlet-class>com.ckb.wo.client.listener.VendorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servicemodedetail</servlet-name>
        <servlet-class>com.ckb.wo.client.listener.ServiceModeDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>location</servlet-name>
        <servlet-class>com.ckb.wo.client.listener.LocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Menu</servlet-name>
        <servlet-class>com.ckb.wo.client.listener.MenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Print</servlet-name>
        <servlet-class>com.ckb.wo.report.downloadWO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreviewWO</servlet-name>
        <servlet-class>com.ckb.wo.report.PreviewWO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkOrderFinList</servlet-name>
        <servlet-class>com.ckb.wo.client.listener.WorkOrderFinList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendorServiceFileUploadRateServlet</servlet-name>
        <servlet-class>com.ckb.wo.client.listener.VendorServiceFileUploadRateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminListener</servlet-name>
        <servlet-class>com.ckb.wo.client.listener.AdminListener</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateLogin</servlet-name>
        <url-pattern>/ValidateLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WOServices</servlet-name>
        <url-pattern>/service</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dwr-invoker</servlet-name>
        <servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkOrderListener</servlet-name>
        <url-pattern>/workorder/workorder.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkOrderList</servlet-name>
        <url-pattern>/list/list.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendorListener</servlet-name>
        <url-pattern>/vendor/vendor.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Handling</servlet-name>
        <url-pattern>/workorder/handling.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendorServiceList</servlet-name>
        <url-pattern>/list/vservices.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateListener</servlet-name>
        <url-pattern>/workorder/validate.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WOProcList</servlet-name>
        <url-pattern>/list/proc.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkOrderAppList</servlet-name>
        <url-pattern>/list/app.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vendorservice</servlet-name>
        <url-pattern>/vendorservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkingservice</servlet-name>
        <url-pattern>/checkingservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vendor</servlet-name>
        <url-pattern>/vendor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servicemodedetail</servlet-name>
        <url-pattern>/servicemodedetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>location</servlet-name>
        <url-pattern>/location</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Print</servlet-name>
        <url-pattern>/list/print.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreviewWO</servlet-name>
        <url-pattern>/list/previewWO.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkOrderFinList</servlet-name>
        <url-pattern>/list/fin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryListener</servlet-name>
        <url-pattern>/list/history.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserList</servlet-name>
        <url-pattern>/list/user.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleList</servlet-name>
        <url-pattern>/list/role.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendorServiceFileUploadServlet</servlet-name>
        <url-pattern>/vendorservicefileuploadservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>finXlsRpt</servlet-name>
        <url-pattern>/finXlsRpt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WOAppRemoteListener</servlet-name>
        <url-pattern>/WOAppRemoteListener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WOReportListener</servlet-name>
        <url-pattern>/list/woreport.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WODailyRetrievReport</servlet-name>
        <url-pattern>/list/daily.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notes</servlet-name>
        <url-pattern>/list/notes.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendorServiceFileUploadRateServlet</servlet-name>
        <url-pattern>/VendorServiceFileUploadRateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminListener</servlet-name>
        <url-pattern>/admin/admin.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/WEB-INF/jsp/error.jsp</location>
    </error-page>
</web-app>
